* {
  box-sizing: border-box;
}

.row{
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.row::before,
.row::after{
  display: table;
  content: '';
}

.row::after{
  clear: both;
}

.col-3, .col-4, .col-6, .col-8, .col-12 {
  float: left;

  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
}

nav{
  position: static;
}

nav button{
  height: 40px;
}

.nav-box{
  display: none;
}

.nav-box-responsive{
  display: block;
  float:left;
  width: 100%;
}

.icon{
  position: absolute;
  display: block;
  float: right;
  top: 0;
  right: .5em;
}

.container{
  display: block;
  background: white;
  width: 100%;
}

.argus-icon{
  position: relative;
  height: 30px;
  top: .4em;
}

.form-content{
  margin: 0 10px;
}

@media only screen and (min-width: 720px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns 6/12 in % */
  .col-6 {
    width: 50%;
  }

  .col-8{
    width: 75%;
  }

  /* 12 columns, 12/12 */
  .col-12 {
    width: 100%;
  }

  nav{
    width: 100%;
    position: fixed;
  }

  main{
    padding-top: 5em;
  }

  nav button{
    height: 80px;
  }

.nav-box{
  float: right;
  display: inline;
}

  .icon{
    display: none;
  }

  .container{
    display: inline;
  }

  .argus-icon{
    height: 45px;
    position: relative;
    top: .9em;
  }

  .nav-box-responsive{
    width: 540px;
  }

  .form-content{
    margin: auto;
  }

}