*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

legend,
h1,
h2,
h3,
h4,
button{
    font-family: 'Inconsolata', monospace;
}

nav{
    background: #8FC1E3;
}

button:hover{
    cursor: pointer;
}

button{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border-color: #687864;
}

.nav button{
    background: none;
    border: none;
    padding: 5px;
    position: relative;
    
}

.nav button:hover{
    text-shadow: 1px 1px 1px black;
    color: #f7f9fb;
}

.nav button:active{
    background: #687864;
}

span,
p, 
li{
    font-family: 'Montserrat', sans-serif;
}

.about-box{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
}

.about-box p{
    line-height: 2em;
}

legend,
.nav,
h3.name{
    text-align: center;
    font-size: 30px;
}

h3.name{
    margin: 0;
}

h2.employees{
    text-align: center;
    font-size: 35px;
}

h4{
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.employee-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form{
    list-style: circle;
}

.js-form{
    display: none;
}

.inline{
    display: inline;
}

.card{
    border: 2px black solid;
    padding: 10px;
    margin-bottom: 6%;
    border-radius: 5px;
}

.content{
    height: 320px;
    overflow: auto;
}

.nav-button{
    font-size: 20px;
    bottom: 3px;
}

.home-button{
    font-size: 25px;
    bottom: 1.5px;
    font-weight: bold;
}

.form-content{
    border: 2px black solid;
    padding:10px;
}

fieldset{
    border: none;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

.page-box,
.page-number{
    text-align: center;
}

.page-number{
    padding-bottom: 5px;
}

.employee-button-box{
    padding-top: 10px;
    text-align: center;
}

.verify,
.close-edit,
.employee-button{
    background: #31708E;
    color:  #F7F9FB;
}

.employee-button:active{
    background: #687864;
}

legend{
    font-weight: bold;
    padding: 20px 0;
}

.close-created,
.page-box button{
    background: #687864;
    color: #f7f9fb;
}

.certs{
    display: block;
}

input[type=checkbox]:hover
{
    cursor: pointer;
}

.form-button{
    font-size: 15px;

}

label,
input{
    margin-bottom: 10px;
}

label{
    margin-right: 10px;
}

li{
    padding-bottom: 5px;
}

#middle-initial{
    width: 60px;
}

#email{
    width: 164px;
}

label[for=equipment-number]{
    margin-right: 51px;
}

.add-equip{
    margin-right: 10px;
}

#equipment-number{
    margin-bottom: 15px;
}

textarea{
    margin-bottom: 10px;
}

.form-control{
    text-align: center;
    margin: 10px 0;
}

button.inline{
    margin-right: 20px;
}

fieldset{
    padding: 0;
}

.form-button{
    background: #31708E;
    color: #F7F9FB;
}

button.create{
    background: #8fc1e3;
    color: black;
}

button.create:hover{
    color: #F7F9FB;
}

.js-message-box{
    text-align: center;
}

