*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    background-image: url('/stainlessBG.jpg');
    background-attachment: fixed;
}

legend,
h1,
h2,
h3,
h4,
button{
    font-family: 'Inconsolata', monospace;
}

nav{
    background: rgb(255, 255, 255);
    padding: 0;

}

button:hover{
    cursor: pointer;
}

button{
    font-size: 20px;
    padding: 5px 10px;
    border: none;
}

.nav button{
    background: none;
    border: none;
    position: relative;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
    text-align: center;
    transition: .2s;
}

.nav button:hover{
    color: rgb(113, 187, 221);
}

span,
p, 
li{
    font-family: 'Montserrat', sans-serif;
}

.about-box{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

.about-box h1{
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.about-box p{
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    letter-spacing: 1px;
}

legend,
.nav,
h3.name{
    text-align: center;
    font-size: 28px;
}

h3.name{
    margin: 0;
}

h2.employees{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

h4{
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.employee-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-content,
.login-form{
    background: #f9f9f9;
}

.form{
    list-style: circle;
}

.hidden,
.js-form{
    display: none;
}

.equip-list li{
    height: 36px;
}

.delete-equip{
    float: right;
}

.inline{
    display: inline;
}

.reg-msg-box,
.login-form,
.card{
    border: none;
    padding: 15px;
    margin-bottom: 6%;
}

.card{
    background: #f9f9f9;
}

.content{
    height: 320px;
    overflow: auto;
}

.nav-button{
    font-size: 20px;
    font-weight: bold;
}

.home-button{
    font-size: 25px;
    font-weight: bold;
}


.form-content{
    border: none;
    padding:10px;
    max-width: 700px;
    margin: auto;
}

fieldset{
    border: none;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

input{
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    padding: 5px;
    margin-top: 4px;
}

label{
    font-size: 16px
}

.page-box,
.page-number{
    text-align: center;
}

.page-number{
    padding-bottom: .8em;
}

.employee-button-box{
    text-align: center;
}

.employee-button{
    margin-top: 10px;
}

.close-created,
.verify,
.close-edit,
.employee-button{
    background: rgb(0, 0, 0);
    color:  #F7F9FB;
    text-shadow: 2px 2px 1px black;
    transition: .3s;
}


.employee-button-edit{
    margin-right:1.5em;
}

legend{
    font-weight: bold;
    padding: 20px 0;
}


.page-box button{
    background: #6c6c6c;
    color: #f7f9fb;
}

.page-box button:hover{
    background: rgb(178, 178, 178);
    text-shadow: 1px 1px 1px black;
}

.certs{
    display: block;
}

input[type=checkbox]:hover
{
    cursor: pointer;
}

.form-button{
    font-size: 1.2em;

}

label,
input{
    margin-bottom: 10px;
}

label{
    margin-right: 10px;

}

li{
    padding-bottom: 5px;
}

#middle-initial{
    width: 60px;
}

#phone{
    width: 130px;
}

#email{
    width: 162px;
}

label[for=equipment-number]{
    margin-right: 51px;
}

.add-equip{
    margin-right: 10px;
}

#equipment-number{
    margin-bottom: 15px;
}

textarea{
    margin-bottom: 10px;
    width: 280px;
    height: 186px;
    border: 1px solid #cdcdcd;
    font-size: 16px;
}

.form-control{
    text-align: center;
    margin: 10px 0;
}

button.inline{
    margin-right: 20px;
}

fieldset{
    padding: 0;
}

#js-employee-form legend{
    color: white;
    text-shadow: 2px 2px 1px black;
}

.reg-msg-close,
.login-form button,
.form-button{
    background: rgb(0, 0, 0);
    color: #F7F9FB;
    text-shadow: 1px 1px 1px black;
    transition: 0.3s;
}

.verify:hover,
.close-created:hover,
.close-edit:hover,
.employee-button:hover,
.login-form button:hover,
.form-button:hover{
    background: rgb(113, 187, 221);
}

.submit-edit,
button.create{
    background: #b5e1ff;
    color: black;
    text-shadow: none;
}

.submit-edit:hover,
button.create:hover{
    color: #F7F9FB;
    text-shadow: 1px 1px 1px black;
    background: #8fc1e3;
}

.submit-edit:active,
button.create:active{
    background: #687864;
}

.js-message-box{
    text-align: center;
}

.login-inputs input{
    width: 100%;
}

.login-inputs label{
    text-align: left;
}

.login-form input{
    font-size: 15px;
}

.login-form fieldset{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.reg-button-container{
    text-align: center;
    margin-top: 10px;
}

.reg-err{
    color: red;
}


.registration-message{
    text-align: center;
}

.page-number span{
    font-size: 1em;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

.login-form{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.login-form span{
    font-size: .8em;
    color: #687864;
}

a{
    color: #31708E;
    transition: .2s;
}

a:hover{
    font-size: 20px;
}

.message-box{
    width:300px;
    background: #f9f9f9;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.message-box h2{
    margin-top: 0;
}